html {
  height: 100%;
}

::-webkit-scrollbar {
  width: 10px;
}
 
::-webkit-scrollbar-thumb {
  background: black;
  border-radius: 5px;
}

::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0);
  border-radius: 20px;
}

body {
	height: 100%;
	
	.randomize {
    height: 100%;
    background-color: #261a0d;
    -webkit-box-shadow: inset 4px 4px 255px 40px rgba(0,0,0,0.34);
    -moz-box-shadow: inset 4px 4px 255px 40px rgba(0,0,0,0.34);
    box-shadow: inset 4px 4px 255px 40px rgba(0,0,0,0.34);
    overflow-y: auto;
    
    .container {
      width: 90%;
      padding: 0 5% 0 5%;
    }
    
    .row {
      width: 100%;
    }
    
    .row:first-child {
      height: 20%;
    }
    
    .row:nth-child(2) {
      height: 80%;
    }
    
    input[type='file'] {
      opacity: 0;
      display: none;
    }
    
    #fileButton {
      margin-top: 20px;
      margin-bottom: 20px;
      
      height: 45px;
      background-color: black;
      padding-top: 10px;
      cursor: pointer;
      
      p {
        font-size: 18px;
        color: white;
        text-align: center; 
        
      }
    }
    
    #fileButton:hover {
      background-color: white;
      
      p {
        color: black;
      }
    }
    
    .random-effect {
        width: 60%;
        margin-left: 15%;
        background-color: rgba(0, 0, 0, 0.4);
        padding: 10px 0 2px 0;
        border-radius: 0px;
        margin-bottom: 20px;
        
        p {
          color: white;
          font-size: 16px;
          text-align: center;
        }
        
      }
      
      .random-effect:hover {
        background-color: white;
        cursor: pointer;
        p {
          color: black;
        }
      }
    
    .list-column {
      height: 525px;
      padding: 10px 5px 5px 5px;
      overflow-y: auto;
      margin-bottom: 15px;
      margin-right: 5px;
      
      
      
      p {
        background-color: rgba(0, 0, 0, 0.4);
        margin-top: 5px;
        margin-bottom: 5px;
        font-size: 14px;
        padding: 5px;
        color: white;
      }
    }
    
    
  }

}

